{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    {% tailwind_css %}
</head>

<body class="text-center my-32">
    <h2 class="text-4xl font-semibold mb-10">Đăng nhập</h2>

    <div class="border">
        <form method="post" class="mt-10">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn rounded-lg my-10 shadow-lg drop-shadow-lg">Đăng nhập</button>
        </form>
    </div>
</body>
