{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0" />
        <title>Logout</title>
        {% tailwind_css %}
    </head>
    <body class="text-center my-32">
        <h2 class="text-4xl font-semibold mb-10">Bạn đã đăng xuất khỏi ứng dụng</h2>
        <a href="{% url 'login' %}"
           class="btn rounded-lg btn-lg shadow-lg drop-shadow-lg">Đăng nhập</a>
    </body>
</html>
