{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ officer.birth_name }} - Kỷ luật</title>

        <script type="module">
            import { confirmDelete } from "{% static 'js/utils.js' %}";
            window.confirmDelete = confirmDelete;
        </script>
    </head>
    <body>
        <h1>{{ officer.birth_name }} - Kỷ luật:</h1>
        <ul>
            {% for discipline in disciplines %}
            <li>
                <strong>Thời gian:</strong>
                {{ discipline.time }} -
                <strong>Hình thức:</strong>
                {{ discipline.form }} -
                <strong>Nội dung:</strong>
                {{ discipline.content }}

                <!-- Update Button -->
                <a
                    href="{% url 'url_discipline_update' officer.pk discipline.id %}"
                >
                    Cập nhật
                </a>

                <!-- Delete Button with confirmation -->
                <form
                    method="POST"
                    action="{% url 'url_discipline_delete' officer.pk discipline.id %}"
                    style="display: inline"
                    onsubmit="return confirmDelete();"
                >
                    {% csrf_token %}
                    <button type="submit" style="color: red">Xoá</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <!-- Create New Discipline Button -->
        <a href="{% url 'url_discipline_create' officer.pk %}">
            <button>Thêm mới</button>
        </a>    

        <a href="{% url 'officer_detail' officer.pk %}">
            Quay lại
        </a>

        <!-- Create or Update Discipline Form -->
        {% if form %}
        <h1>
            {% if edit_discipline_id %}Cập nhật{% else %}Thêm mới
            {% endif %}
        </h1>
        <form method="POST">
            {% csrf_token %} 

            <div>
                <label for="id_time">Thời gian:</label>
                {{ form.time }}
            </div>
            <div>
                <label for="id_form">Hình thức:</label>
                {{ form.form }}
            </div>
            <div>
                <label for="id_content">Nội dung:</label>
                {{ form.content }}
            </div>
            
            <button type="submit">
                Lưu
            </button>
        </form>
        {% endif %}
    </body>
</html>