{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ officer.birth_name }} - Sức khỏe</title>

        <script type="module">
            import { confirmDelete } from "{% static 'js/utils.js' %}";
            window.confirmDelete = confirmDelete;
        </script>
    </head>
    <body>
        <h1>{{ officer.birth_name }} - Sức khỏe:</h1>
        <ul>
            {% for health in healths %}
            <li>
                <strong>Cân nặng:</strong>
                {{ health.weight }}kg -
                <strong>Chiều cao:</strong>
                {{ health.height }}cm -
                <strong>Lịch sử bệnh:</strong>
                {{ health.medical_history }} -
                <strong>Khác:</strong>
                {{ health.other }}

                <!-- Update Button -->
                <a
                    href="{% url 'url_health_update' officer.pk health.id %}"
                >
                    Cập nhật
                </a>

                <!-- Delete Button with confirmation -->
                <form
                    method="POST"
                    action="{% url 'url_health_delete' officer.pk health.id %}"
                    style="display: inline"
                    onsubmit="return confirmDelete();"
                >
                    {% csrf_token %}
                    <button type="submit" style="color: red">Xoá</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <!-- Create New Health Button -->
        <a href="{% url 'url_health_create' officer.pk %}">
            <button>Thêm mới</button>
        </a>

        <a href="{% url 'officer_detail' officer.pk %}">
            Quay lại
        </a>

        <!-- Create or Update Health Form -->
        {% if form %}
        <h1>
            {% if edit_health_id %}Cập nhật{% else %}Thêm mới
            {% endif %}
        </h1>

        <form method="POST">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit">
                Lưu
            </button>
        </form>
        {% endif %}
    </body>
</html>
