{% load static tailwind_tags %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="my-10">
    {% tailwind_css %}
    <h2 class="text-4xl text-center font-semibold">Bộ ảnh của {{ officer.birth_name }}</h2>

    <!-- Form for selecting and downloading images -->
    <form id="downloadForm"
          method="post"
          action="{% url 'url_download_selected_images' officer.pk %}">
        {% csrf_token %}

        <!-- Upload and Back Buttons -->
        <div class="mt-5 flex justify-between mx-10">
            <a href="{% url 'officer_detail' officer.pk %}"
               class="btn rounded-lg">
                <img src="{% static 'src/back-icon.png' %}"
                         alt="Back icon"
                         class="w-5 h-5" />
                <span>Quay lại</span>
            </a>
            
            <div class="flex space-x-5">
                <!-- Select All Checkbox -->
                <div class="form-check mt-3 ml-10 flex items-start">
                    <input type="checkbox"
                        id="selectAllCheckbox"
                        class="form-check-input mt-1"
                        onclick="toggleSelectAll(this)" />
                    <label for="selectAllCheckbox"
                        class="form-check-label ml-3">
                        Chọn tất cả ảnh
                    </label>
                </div>
    
                <!-- Download Selected button -->
                <button type="submit"
                    class="btn mb-5 bg-base-100 rounded-lg">
                        <span>Tải ảnh xuống</span>
                        <img src="{% static 'src/download-images.png' %}"
                                alt="Download Images"
                                class="w-6 h-6" />
                </button>

                <a href="{% url 'url_image_create' officer.pk %}"
                    class="btn rounded-lg">
                    <span>Tải ảnh lên</span>
                    <img src="{% static 'src/upload-images.png' %}"
                                alt="Upload Images"
                                class="w-6 h-6" />
                </a>
            </div>
        </div>

        <!-- Category Filter Dropdown -->
        <select id="categoryDropdown"
                class="rounded-lg ml-10"
                onchange="filterCategory()">
            <option value="">Tất cả</option>

            {% for key, label in category_labels.items %}
                <option value="{{ key }}" 
                    {% if request.GET.category == key %}selected{% endif %}
                    >{{ label }}</option>
            {% endfor %}

        </select>

        <!-- Display images with checkboxes for selection -->
        <div id="images"
             class="mt-10 ml-10 space-x-5">
            {% for image in images %}
                <div class="inline-block">
                    <div class="card w-44 bg-white shadow-md rounded-lg overflow-hidden relative group">
                        <div class="p-2 flex space-x-4">
                            <!-- Checkbox to select image for download -->
                            <input type="checkbox"
                            name="selected_images"
                            value="{{ image.pk }}"
                            class="image-checkbox mr-2" />

                            <p class="text-center text-sm font-medium">{{ image.description }}</p>
                        </div>
                        
                        <div class="relative">                    
                            <img src="{{ image.image.url }}"
                                alt="{{ image.description }}"
                                class="img-thumbnail w-full h-48 object-cover"
                            />

                            <!-- Background overlay that appears on hover, covering only the image -->
                            <div class="absolute inset-0 top-0 left-0 w-full h-full bg-base-300 bg-opacity-50 
                            ounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg"></div>

                            <div class="absolute inset-0 flex items-start justify-end top-0 right-0 space-x-3 w-full
                            opacity-0 group-hover:opacity-100 transition-opacity duration-300 pr-4 mt-2">
                                <a class="tooltip tooltip-bottom" data-tip="Tải xuống" 
                                href="{{ image.image.url }}"
                                download>
                                    <i class="fas fa-download"></i>
                                </a>

                                <a class="tooltip tooltip-bottom" data-tip="Chỉnh sửa" 
                                href="{% url 'url_image_update' officer.pk image.pk %}">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a class="tooltip tooltip-bottom" data-tip="Xoá" 
                                href="{% url 'url_image_delete' officer.pk image.pk %}">
                                    <i class="fas fa-trash text-red-500"></i>
                                </a>
                            </div>
                        </div>    
                    </div>
                </div>
            {% empty %}
                <p>Không có ảnh nào trong danh mục này.</p>
            {% endfor %}
        </div>
    </form>
</div>

<script>
    function filterCategory() {
        const category = document.getElementById("categoryDropdown").value;
        const url = new URL(window.location.href);
        url.searchParams.set("category", category);
        window.location.href = url.toString();
    }

    function toggleSelectAll(selectAllCheckbox) {
        const imageCheckboxes = document.querySelectorAll(".image-checkbox");
        imageCheckboxes.forEach(checkbox => {
            checkbox.checked = selectAllCheckbox.checked;
        });
    }
</script>
