{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ officer.birth_name }} - Khen thưởng</title>

        <script type="module">
            import { confirmDelete } from "{% static 'js/utils.js' %}";
            window.confirmDelete = confirmDelete;
        </script>
    </head>
    <body>
        <h1>{{ officer.birth_name }} - Khen thưởng:</h1>
        <ul>
            {% for laudatory in laudatories %}
            <li>
                <strong>Thời gian:</strong>
                {{ laudatory.time }} -
                <strong>Hình thức:</strong>
                {{ laudatory.form }} -
                <strong>Nội dung:</strong>
                {{ laudatory.content }}

                <!-- Update Button -->
                <a
                    href="{% url 'url_laudatory_update' officer.pk laudatory.id %}"
                >
                    Cập nhật
                </a>

                <!-- Delete Button with confirmation -->
                <form
                    method="POST"
                    action="{% url 'url_laudatory_delete' officer.pk laudatory.id %}"
                    style="display: inline"
                    onsubmit="return confirmDelete();"
                >
                    {% csrf_token %}
                    <button type="submit" style="color: red">Xoá</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <!-- Create New Laudatory Button -->
        <a href="{% url 'url_laudatory_create' officer.pk %}">
            <button>Thêm mới</button>
        </a>    

        <a href="{% url 'officer_detail' officer.pk %}">
            Quay lại
        </a>

        <!-- Create or Update Laudatory Form -->
        {% if form %}
        <h1>
            {% if edit_laudatory_id %}Cập nhật{% else %}Thêm mới
            {% endif %}
        </h1>

        <form method="POST">
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit">
                Lưu
            </button>
        </form>
        {% endif %}
    </body>
</html>