<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ officer.birth_name }} - Chức danh</title>
</head>
<body>
    <h1>{{ officer.birth_name }} - Thông tin chức danh:</h1>

    <!-- Display Officer Title -->
    <ul>
        {% for title in titles %}
            <li>
                <strong>Chức danh</strong>: {{ title.title }} - <strong>Ngày bổ nhiệm</strong>: {{ title.appointed_date|date:"d/m/Y" }}
            </li>
        {% endfor %}

    <!-- Link to Officer Details Page -->
    <a href="{% url 'officer_detail' officer.pk %}">Back to Officer Details</a>
</body>
</html>
