{% if user.is_authenticated %}
    <p>Chào mừng, {{ user.username }}!</p>
    <form method="POST"
          action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Đăng xuất</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Đăng nhập</a>
{% endif %}

<!-- Warning Message Modal (initially hidden) -->
<div id="warningModal"
     style="display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f8d7da;
            color: #721c24;
            padding: 20px;
            border: 1px solid #f5c6cb;
            border-radius: 5px;
            z-index: 1000">
    <p>Please select at least one officer to export data.</p>
    <div style="text-align: center;
                margin-top: 10px">

        <button onclick="closeWarningModal()"
                style="background-color: #721c24;
                       color: white;
                       border: none;
                       padding: 5px 10px;
                       cursor: pointer;
                       border-radius: 3px">OK</button>
    </div>
</div>

<h2>THÔNG TIN CÁN BỘ</h2>

<form method="GET"
      action="{% url 'officer_list' %}"
      style="display: flex;
             flex-wrap: wrap;
             gap: 10px;
             align-items: center">

    <!-- Search by name -->
    <input type="text"
           name="birth_name"
           placeholder="Tìm theo tên"
           value="{{ birth_name|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by id_ca -->
    <input type="text"
           name="id_ca"
           placeholder="Tìm theo số hiệu"
           value="{{ id_ca|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!--Search by birth_year-->
    <input type="text"
           name="birth_year"
           placeholder="Tìm theo năm sinh"
           value="{{ birth_year|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by year_join_party -->
    <input type="text"
           name="year_join_party"
           placeholder="Tìm theo năm vào Đảng"
           value="{{ year_join_party|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by year_join_party_official -->
    <input type="text"
           name="year_join_party_official"
           placeholder="Tìm theo năm vào Đảng chính thức"
           value="{{ year_join_party_official|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by year_join_CA -->
    <input type="text"
           name="year_join_CA"
           placeholder="Tìm theo năm vào CA"
           value="{{ year_join_CA|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by current_residence -->
    <input type="text"
           name="current_residence"
           placeholder="Tìm theo chỗ ở hiện nay"
           value="{{ current_residence|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by salary_decision_year -->
    <input type="text"
           name="salary_decision_year"
           placeholder="Tìm theo năm quyết định lương"
           value="{{ salary_decision_year|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by work_unit -->
    <input type="text"
           name="work_unit"
           placeholder="Tìm theo đơn vị công tác"
           value="{{ work_unit|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by specialized_work -->
    <input type="text"
           name="specialized_work"
           placeholder="Tìm theo công tác chuyên trách"
           value="{{ specialized_work|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by other_work -->
    <input type="text"
           name="other_work"
           placeholder="Tìm theo công tác khác"
           value="{{ other_work|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by most_work -->
    <input type="text"
           name="most_work"
           placeholder="Tìm theo công tác làm nhiều nhất"
           value="{{ most_work|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by phone_number -->
    <input type="text"
           name="phone_number"
           placeholder="Tìm theo số điện thoại"
           value="{{ phone_number|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by bank_account_BIDV -->
    <input type="text"
           name="bank_account_BIDV"
           placeholder="Tìm theo số tài khoản BIDV"
           value="{{ bank_account_BIDV|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <!-- Search by id_citizen -->
    <input type="text"
           name="id_citizen"
           placeholder="Tìm theo số CMND"
           value="{{ id_citizen|default_if_none:'' }}"
           style="flex: 1;
                  min-width: 150px" />

    <button type="submit"
            style="flex: 0 0 auto">Lọc</button>

    {% if request.GET %}
        <a href="{% url 'officer_list' %}"
           class="button"
           style="flex: 0 0 auto">Xoá bộ lọc</a>
    {% endif %}

    <label for="gender">Giới tính:</label>
    <select name="gender"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for g in gender %}
            <option value="{{ g }}" 
                {% if request.GET.gender == g %}selected{% endif %}
                >{{ g }}</option>
        {% endfor %}

    </select>

    <label for="military_type">Lực lượng:</label>
    <select name="military_type"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for mt in military_type %}
            <option value="{{ mt }}" 
                {% if request.GET.military_type == mt %}selected{% endif %}
                >{{ mt }}</option>
        {% endfor %}

    </select>

    <label for="military_rank">Cấp bậc hàm:</label>
    <select name="military_rank"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for mr in military_rank %}
            <option value="{{ mr }}" 
                {% if request.GET.military_rank == mr %}selected{% endif %}
                >{{ mr }}</option>
        {% endfor %}

    </select>

    <label for="salary_coefficient">Hệ số lương:</label>
    <select name="salary_coefficient"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for sc in salary_coefficient %}
            <option value="{{ sc }}" 
                {% if request.GET.salary_coefficient == sc %}selected{% endif %}
                >{{ sc }}</option>
        {% endfor %}

    </select>

    <label for="position">Chức vụ:</label>
    <select name="position"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for p in position %}
            <option value="{{ p }}" 
                {% if request.GET.position == p %}selected{% endif %}
                >{{ p }}</option>
        {% endfor %}

    </select>

    <label for="party_position">Chức vụ Đảng:</label>
    <select name="party_position"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for pp in party_position %}
            <option value="{{ pp }}" 
                {% if request.GET.party_position == pp %}selected{% endif %}
                >{{ pp }}</option>
        {% endfor %}

    </select>

    <label for="political_theory">Trình độ chính trị:</label>
    <select name="political_theory"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for pt in political_theory %}
            <option value="{{ pt }}" 
                {% if request.GET.political_theory == pt %}selected{% endif %}
                >{{ pt }}</option>
        {% endfor %}

    </select>

    <label for="birth_place">Nơi sinh:</label>
    <select name="birth_place"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for bp in birth_place %}
            <option value="{{ bp }}" 
                {% if request.GET.birth_place == bp %}selected{% endif %}
                >{{ bp }}</option>
        {% endfor %}

    </select>

    <label for="equipment_type">Quân trang:</label>
    <select name="equipment_type"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for et in equipment_type %}
            <option value="{{ et }}" 
                {% if request.GET.equipment_type == et %}selected{% endif %}
                >{{ et }}</option>
        {% endfor %}

    </select>

    <label for="size_of_shoes">Giày:</label>
    <select name="size_of_shoes"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for sos in size_of_shoes %}
            <option value="{{ sos }}" 
                {% if request.GET.size_of_shoes == sos %}selected{% endif %}
                >{{ sos }}</option>
        {% endfor %}

    </select>

    <label for="size_of_hat">Mũ:</label>
    <select name="size_of_hat"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for soh in size_of_hat %}
            <option value="{{ soh }}" 
                {% if request.GET.size_of_hat == soh %}selected{% endif %}
                >{{ soh }}</option>
        {% endfor %}

    </select>

    <label for="size_of_clothes">Quần áo:</label>
    <select name="size_of_clothes"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for soc in size_of_clothes %}
            <option value="{{ soc }}" 
                {% if request.GET.size_of_clothes == soc %}selected{% endif %}
                >{{ soc }}</option>
        {% endfor %}

    </select>

    <label for="certi_of_IT">Tin học:</label>
    <select name="certi_of_IT"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for cit in certi_of_IT %}
            <option value="{{ cit }}" 
                {% if request.GET.certi_of_IT == cit %}selected{% endif %}
                >{{ cit }}</option>
        {% endfor %}

    </select>

    <label for="certi_of_foreign_language">Ngoại ngữ:</label>
    <select name="certi_of_foreign_language"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for cofl in certi_of_foreign_language %}
            <option value="{{ cofl }}" 
                {% if request.GET.certi_of_foreign_language == cofl %}selected{% endif %}
                >{{ cofl }}</option>
        {% endfor %}

    </select>

    <label for="blood_type">Nhóm máu:</label>
    <select name="blood_type"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for bt in blood_type %}
            <option value="{{ bt }}" 
                {% if request.GET.blood_type == bt %}selected{% endif %}
                >{{ bt }}</option>
        {% endfor %}

    </select>

    <label for="profile_address">Địa chỉ hồ sơ:</label>
    <select name="profile_address"
            style="flex: 1;
                   min-width: 150px">
        <option value="">Tất cả</option>

        {% for pa in profile_address %}
            <option value="{{ pa }}" 
                {% if request.GET.profile_address == pa %}selected{% endif %}
                >{{ pa }}</option>
        {% endfor %}

    </select>

</form>

<a href="{% url 'officer_create' %}">Thêm mới cán bộ</a> |
<a href="{% url 'excel_upload' %}">Tải lên từ Excel</a>

{% if officers %}
    | <a href="{% url 'delete_all_officers' %}">Xoá tất cả</a>
{% endif %}



<!-- Display messages when there's an error during the process of file upload -->

{% if messages %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

{% endif %}



<!-- Checkbox to toggle between officer list and export form -->
<label>
    <input type="checkbox"
           id="toggleExportForm"
           onclick="toggleView()" />
    Xuất dữ liệu
</label>

<!-- Officer List and Filter Form -->
<div id="officerList"
     style="display: block">

    <ol>

        {% for officer in officers %}
            <li>
                {{ officer.birth_name }} - {{ officer.birth_year }} - {{ officer.work_unit }}
                - <a href="{% url 'officer_detail' officer.pk %}">Xem</a> |
                <a href="{% url 'officer_delete' officer.pk %}">Xoá</a>
            </li>
        {% endfor %}

    </ol>
</div>

<!-- Export Form -->
<div id="exportForm"
     style="display: none">
    <form method="post"
          action="{% url 'export_officers_data' %}"
          onsubmit="return validateSelection()">
        {% csrf_token %}
        <h3>Chọn cán bộ và thông tin cần trích xuất</h3>

        <!-- Officers Selection -->
        <div>
            <strong>Chọn cán bộ:</strong>
            <br />

            <label>
                <input type="checkbox"
                       id="select-all-officers" />
                Chọn tất cả
            </label>
            <br />
            <ol>

                {% for officer in officers %}
                    <input type="checkbox"
                           name="officers"
                           value="{{ officer.pk }}"
                           id="officer_{{ officer.pk }}" />
                    <label for="officer_{{ officer.pk }}">
                        {{ officer.birth_name }} - {{ officer.birth_year }} - {{ officer.work_unit }}
                    </label>
                    <br />
                {% endfor %}

            </ol>
        </div>

        <!-- Fields Selection -->
        <div>
            <strong>Chọn thông tin:</strong>
            <br />

            <label>
                <input type="checkbox"
                       id="select-all-fields" />
                Chọn tất cả
            </label>
            <ul>
                {{ form.fields }}
            </ul>
        </div>

        <!-- Related Tables Selection -->
        <div>
            <strong>Chọn bảng liên quan:</strong>
            <br />

            <label>
                <input type="checkbox"
                       id="select-all-related-tables" />
                Chọn tất cả
            </label>
            <ul>
                {{ form.related_tables }}
            </ul>
        </div>

        <button type="submit"
                name="export">Xuất dữ liệu</button>
    </form>
</div>

<script>
    function toggleView() {
        var isChecked = document.getElementById('toggleExportForm').checked;
        var officerList = document.getElementById('officerList');
        var exportForm = document.getElementById('exportForm');

        if (isChecked) {
            officerList.style.display = 'none';
            exportForm.style.display = 'block';
        } else {
            officerList.style.display = 'block';
            exportForm.style.display = 'none';
        }
    }
    document.getElementById('select-all-officers').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[name="officers"]');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = this.checked;
        });
    });
    document.getElementById('select-all-fields').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[name="{{ form.fields.name }}"]');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = this.checked;
        });
    });

    document.getElementById('select-all-related-tables').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[name="{{ form.related_tables.name }}"]');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = this.checked;
        });
    });

    function validateSelection() {
        // Get all officer checkboxes
        const officerCheckboxes = document.querySelectorAll('input[name="officers"]');
        const isAnyOfficerSelected = Array.from(officerCheckboxes).some(checkbox => checkbox.checked);
    
        // Get all field checkboxes in the "Chọn thông tin" section
        const fieldCheckboxes = document.querySelectorAll('input[name="{{ form.fields.name }}"]');
        const isAnyFieldSelected = Array.from(fieldCheckboxes).some(checkbox => checkbox.checked);
    
        // Determine which warning to show based on selection
        if (!isAnyOfficerSelected && !isAnyFieldSelected) {
            showWarningModal("Vui lòng chọn ít nhất một cán bộ và một trường thông tin để xuất dữ liệu!");
            return false; 
        } else if (!isAnyOfficerSelected) {
            showWarningModal("Vui lòng chọn ít nhất một cán bộ để xuất dữ liệu!");
            return false; 
        } else if (!isAnyFieldSelected) {
            showWarningModal("Vui lòng chọn ít nhất một trường thông tin để xuất dữ liệu!");
            return false; 
        }
    
        return true; // Allow form submission if all validations pass
    }
    
    // Show the warning modal with a custom message
    function showWarningModal(message) {
        const warningModal = document.getElementById('warningModal');
        warningModal.querySelector('p').innerText = message; // Set custom message
        warningModal.style.display = 'block';
    }
    
    // Close the warning modal
    function closeWarningModal() {
        document.getElementById('warningModal').style.display = 'none';
    }
    
    
</script>
