<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ officer.birth_name }} - Ra nước ngoài </title>
</head>
<body>
    <h1>{{ officer.birth_name }} - Ra nước ngoài:</h1>
    
    <!-- Display Officer Abroad -->
    <ul>
        {% for abroad in abroads %}
            <li>
                <strong>Thời gian</strong>: {{ abroad.time }} - <strong>Địa điểm</strong>: {{ abroad.country }} - <strong>Mục đích</strong>: {{ abroad.purpose }} 
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'officer_detail' officer.pk %}">Back to Officer Details</a>
