<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ officer.birth_name }} - Details</title>
</head>
<body>
    <h1>Thông tin: {{ officer.birth_name }}</h1>
    <p><strong>Ngày sinh:</strong> {{ officer.date_of_birth|date:"d/m/Y" }}</p>
    <p><strong>Số hiệu:</strong> {{ officer.id_ca }}</p>
    <p><strong>Giới tính</strong> {{ officer.gender }}</p>
    <p><strong>Số CCCD:</strong> {{ officer.id_citizen }}</p>

    <p><strong>Chỗ ở hiện nay:</strong> {{ officer.current_residence }}</p>

    <p><strong>Hệ số lương:</strong> {{ officer.salary_coefficient }}</p>
    <p><strong>Năm quyết định lương:</strong> {{ officer.salary_decision_year }}</p>
    <p><strong>Hệ số lương tiếp theo:</strong> {{ officer.next_salary_coefficient }}</p>
    <p><strong>Năm quyết định lương tiếp theo:</strong> {{ officer.next_salary_decision_year }}</p>

    <a href="{% url 'officer_title' officer.pk %}">Chức danh</a> <br>
    <a href="{% url 'officer_update' officer.pk %}">Edit</a> |<a href="{% url 'officer_list' %}">Back to List</a>
</body>
</html>
