{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! </p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<h2>Officers</h2>



<form method="GET" action="{% url 'officer_list' %}" style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center;">
    <input type="text" name="q" placeholder="Search by name" value="{{ query|default_if_none:'' }}" style="flex: 1; min-width: 150px;">

    <button type="submit" style="flex: 0 0 auto;">Filter</button>
    {% if request.GET %}
        <a href="{% url 'officer_list' %}" class="button" style="flex: 0 0 auto;">Clear Filters</a>
    {% endif %}

    <label for="military_type">Military Type:</label>
    <select name="military_type" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for mt in military_types %}
            <option value="{{ mt }}" {% if request.GET.military_type == mt %}selected{% endif %}>{{ mt }}</option>
        {% endfor %}
    </select>

    <label for="military_rank">Military Rank:</label>
    <select name="military_rank" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for mr in military_ranks %}
            <option value="{{ mr }}" {% if request.GET.military_rank == mr %}selected{% endif %}>{{ mr }}</option>
        {% endfor %}
    </select>

    <label for="position">Position:</label>
    <select name="position" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for p in positions %}
            <option value="{{ p }}" {% if request.GET.position == p %}selected{% endif %}>{{ p }}</option>
        {% endfor %}
    </select>

    <label for="work_unit">Work Unit:</label>
    <select name="work_unit" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for wu in work_units %}
            <option value="{{ wu }}" {% if request.GET.work_unit == wu %}selected{% endif %}>{{ wu }}</option>
        {% endfor %}
    </select>

    <label for="political_theory">Political Theory:</label>
    <select name="political_theory" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for pt in political_theories %}
            <option value="{{ pt }}" {% if request.GET.political_theory == pt %}selected{% endif %}>{{ pt }}</option>
        {% endfor %}
    </select>

    <label for="year_of_birth">Year of Birth:</label>
    <select name="year_of_birth" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for year in years_of_birth %}
            <option value="{{ year }}" {% if year == selected_year_of_birth %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>

    <label for="year_enlistment">Year Enlistment:</label>
    <select name="year_enlistment" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for year in years_enlistment %}
            <option value="{{ year }}" {% if year == selected_year_enlistment %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>

    <label for="home_town">Home Town:</label>
    <select name="home_town" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for ht in home_towns %}
            <option value="{{ ht }}" {% if request.GET.home_town == ht %}selected{% endif %}>{{ ht }}</option>
        {% endfor %}
    </select>

    <label for="education">Education:</label>
    <select name="education" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for ed in educations %}
            <option value="{{ ed }}" {% if request.GET.education == ed %}selected{% endif %}>{{ ed }}</option>
        {% endfor %}
    </select>

    <label for="current_residence">Current Residence:</label>
    <select name="current_residence" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for cr in current_residences %}
            <option value="{{ cr }}" {% if request.GET.current_residence == cr %}selected{% endif %}>{{ cr }}</option>
        {% endfor %}
    </select>

    {% comment %} <label for="blood_type">Blood Type:</label>
    <select name="blood_type" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for bt in blood_types %}
            <option value="{{ bt }}" {% if request.GET.blood_type == bt %}selected{% endif %}>{{ bt }}</option>
        {% endfor %}
    </select> {% endcomment %}

    {% comment %} <label for="size_of_hat">Hat Size:</label>
    <select name="size_of_hat" style="flex: 1; min-width: 150px;">
        <option value="">All</option>
        {% for hs in hat_size %}
            <option value="{{ hs }}" {% if request.GET.size_of_hat == hs %}selected{% endif %}>{{ hs }}</option>
        {% endfor %}
    </select> {% endcomment %}

    
</form>

<a href="{% url 'officer_create' %}">Add New Officer</a> | 
<a href="{% url 'excel_upload' %}">Upload Excel File</a>
{% if officers %}
    | <a href="{% url 'delete_all_officers' %}">Delete All Officers</a>
{% endif %}

<ul>
    {% for officer in officers %}
        <li>{{ officer.name }} ({{ officer.date_of_birth|date:"d/m/Y" }}) {{ officer.id_ca }}  
            - <a href="{% url 'officer_detail' officer.pk %}">View</a> | 
            <a href="{% url 'officer_delete' officer.pk %}">Delete</a>
        </li>
    {% endfor %}
</ul>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

