{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ officer.birth_name }} - Quá trình công tác</title>
        
        <script type="module">
            import { confirmDelete } from "{% static 'js/utils.js' %}";
            window.confirmDelete = confirmDelete;
        </script>
    </head>
    <body>
        <h1>{{ officer.birth_name }} - Quá trình công tác:</h1>
        <ul>
            {% for work_process in work_processes %}
            <li>
                <strong>Giai đoạn:</strong>
                {{ work_process.period }} -
                <strong>Công tác:</strong>
                {{ work_process.work_content }}

                <!-- Update Button -->
                <a
                    href="{% url 'url_work_process_update' officer.pk work_process.id %}"
                >
                    Update
                </a>

                <!-- Delete Button with confirmation -->
                <form
                    method="POST"
                    action="{% url 'url_work_process_delete' officer.pk work_process.id %}"
                    style="display: inline"
                    onsubmit="return confirmDelete();"
                >
                    {% csrf_token %}
                    <button type="submit" style="color: red">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <!-- Create New Work Process Button -->
        <a href="{% url 'url_work_process_create' officer.pk %}">
            <button>Create New Work Process</button>
        </a>
        
        <a href="{% url 'officer_detail' officer.pk %}">
            Back to Officer Details
        </a>

        <!-- Create or Update Work Process Form -->
        <h1>
            {% if edit_work_process_id %}Update Work Process{% else %}Create
            Work Process{% endif %}
        </h1>

        <form method="POST">
            {% csrf_token %} {{ form.as_p }}

            <button type="submit">
                {% if edit_work_process_id %}Update{% else %}Create
                {% endif %}
            </button>
        </form>
    </body>
</html>
